.earphoneBg1{
    background: url('../../images/product-yx1-earphones/desktop/image-category-page-preview.jpg');
    background-size: 100%;
    @media(max-width: 1150px) {
        background: url('../../images/product-yx1-earphones/tablet/image-category-page-preview.jpg');
        background-size: 100%;
    }
    @media(max-width: 730px) {
        background: url('../../images/product-yx1-earphones/mobile/image-category-page-preview.jpg');
        background-size: 100%;
        
    }
}