@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

$color1: #D87D4A;
$color1Hover: #fbaf85;
$color2:#101010;
$color2Hover:#FFFFFF;
$color3:#F1F1F1;
$color3Hover:#000000;
$color4:#FAFAFA;
$whiteTxt: #ffff ;

%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}