// ****** ZX9 SPEAKER****** //

.zx9hero{
    background: url("../../images/product-zx9-speaker/desktop/image-product.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx9-speaker/tablet/image-product.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx9-speaker/mobile/image-product.jpg");
        background-size: 100%;
    }
}
.zx9Img1{
    background: url("../../images/product-zx9-speaker/desktop/image-gallery-1.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx9-speaker/tablet/image-gallery-1.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx9-speaker/mobile/image-gallery-1.jpg");
        background-size: 100%;
    }
}
.zx9Img2{
    background: url("../../images/product-zx9-speaker/desktop/image-gallery-2.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx9-speaker/tablet/image-gallery-2.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx9-speaker/mobile/image-gallery-2.jpg");
        background-size: 100%;
    }
}
.zx9Img3{
    background: url("../../images/product-zx9-speaker/desktop/image-gallery-3.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx9-speaker/tablet/image-gallery-3.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx9-speaker/mobile/image-gallery-3.jpg");
        background-size: 100%;
    }
}

// ****** ZX7 SPEAKER****** //

.zx7hero{
    background: url("../../images/product-zx7-speaker/desktop/image-product.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx7-speaker/tablet/image-product.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx7-speaker/mobile/image-product.jpg");
        background-size: 100%;
    }
}
.zx7Img1{
    background: url("../../images/product-zx7-speaker/desktop/image-gallery-1.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx7-speaker/tablet/image-gallery-1.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx7-speaker/mobile/image-gallery-1.jpg");
        background-size: 100%;
    }
}
.zx7Img2{
    background: url("../../images/product-zx7-speaker/desktop/image-gallery-2.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx7-speaker/tablet/image-gallery-2.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx7-speaker/mobile/image-gallery-2.jpg");
        background-size: 100%;
    }
}
.zx7Img3{
    background: url("../../images/product-zx7-speaker/desktop/image-gallery-3.jpg");
    background-size: 100%;
    @media(max-width:1150px) {
        background: url("../../images/product-zx7-speaker/tablet/image-gallery-3.jpg");
        background-size: 100%;
    }
    @media(max-width: 700px){
        background: url("../../images/product-zx7-speaker/mobile/image-gallery-3.jpg");
        background-size: 100%;
    }
}